#maincon {
  display: flex;
  justify-content: center;
  #container {
    padding: 0;
    margin-left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 5px 1px grey;
    border-radius: 20px;

    // margin-left: 5em;
    #heading {
      margin-left: 0px;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #008080;
      width: 100%;
      #appname {
        display: flex;
        flex-direction: row;
        margin-left: 1em;
      }
      #username {
        line-height: 56px;
        margin-right: 1em;
        font-weight: 800;
      }
      .company_logo {
        margin-right: 0.5em;
      }
    }
    #qoute {
      margin-left: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #008080;
    }
    #hinput {
      margin-left: 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .form-group {
        display: flex;
        flex-direction: row;
        width: 50%;
        .form__input {
          width: 100%;
          border: 0px solid transparent;
          border-radius: 0;
          border-bottom: 1px solid #aaa;
          padding: 1em 0.5em 0.5em;
          padding-left: 2em;
          outline: none;
          margin: 0.5em auto;
          transition: all 0.5s ease;
        }
        .form__input:focus {
          border-bottom-color: #008080;
          box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
          border-radius: 4px;
        }
        .btn {
          transition: all 0.5s ease;
          width: 70%;
          border-radius: 30px;
          color: #008080;
          font-weight: 600;
          background-color: #fff;
          border: 1px solid #008080;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        .btn:hover,
        .btn:focus {
          background-color: #008080;
          color: #fff;
        }
      }
      #details {
        a {
          text-decoration: none;
        }
        h4 {
          line-height: 86px;
          .fa-caret-square-o-down {
            color: #008080;
          }
        }
      }
    }
    #habit-list {
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      #habit-content {
        border-top: 2px solid #008080;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        h2 {
          color: #008080;
          margin: 0;
          line-height: 46px;
          width: 30%;
        }
        p {
          margin: 0;
          line-height: 46px;
          font-weight: 500;
          color: #ffbf00;
        }
        #cdate {
          margin: 0;
          line-height: 46px;
          font-weight: 500;
          color: gray;
        }
        #buttons {
          a {
            text-decoration: none;
          }
          display: flex;
          flex-direction: row;
          h4 {
            margin: 0;
            line-height: 46px;
            border-radius: 5px;
          }
          h4:hover {
            cursor: pointer;
          }
          #status {
            margin-right: 0.5em;

            .fa-times {
              color: #ec524b;
            }
            .fa-check {
              color: #b8de6f;
            }
          }
          #status:hover {
            background-color: #008080;
          }
          #delete {
            color: #f05454;
            margin-left: 0.5em;
          }
          #delete:hover {
            background-color: #a20a0a;
          }
        }
      }
      .detailscontainer {
        display: flex;
        flex-direction: row;
        #weekview {
          #parts {
            a {
              text-decoration: none;
            }
            #date {
              font-weight: 600;
              color: gray;
            }
            #hstatus {
              color: rgb(29, 27, 27);
              border-radius: 5px;
              font-weight: 800;
              .fa-times {
                color: #ec524b;
              }
              .fa-check {
                color: #b8de6f;
              }
            }
            #hstatus:hover {
              cursor: pointer;
              background-color: #008080;
            }
          }
        }
      }
    }
  }
}
form {
  padding: 0 2em;
}
